# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*

# Trained models
models/*.pt
models/*.pth
models/*.pkl

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
